# autotools
ABOUT-NLS
aclocal.m4
autom4te.cache/
config/
configure
configure~
config.*
lib/
libtool
m4/
Makefile.in
Makefile
po/POTFILES
po/*.gmo
po/stamp-it
po/Makefile.in.in
po/Makefile.in.in~
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/tenace.pot
src/.deps
stamp-h1
intltool-*

stamp-h.in

NEWS

# built
*.o
handdisplay/int_int_marshal.h
src/tenace

dds/dds.[ch]
dds/libdds.a

# debian
build-stamp
configure-stamp
debian/files
debian/tenace
debian/tenace.substvars
debian/*.debhelper
debian/tenace.debhelper.log

# stuff
*.bak
*.swp
src/tags
