Source: tenace
Section: games
Priority: extra
Maintainer: Christoph Berg <myon@debian.org>
Build-Depends: debhelper (>> 5), libgtk2.0-dev (>> 2.12), libdds-dev (>> 1.0.4)
Standards-Version: 3.7.3
XS-Vcs-Browser: http://hg.df7cb.de/hg/tenace
XS-Vcs-Hg: http://hg.df7cb.de/hg/tenace
Homepage: http://www.df7cb.de/bridge/tenace/

Package: tenace
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gnome-cards-data, librsvg2-common
Suggests: gnome-games-extra-data
Description: Bridge hand viewer and editor
 Tenace is a Bridge hand viewer and editor. Hand records are read using
 BBO's .lin format. The board editor allows to easily move cards around to
 simulate different distributions. The double dummy solver computes optimal
 lines of play and par scores.
 .
 Bridge is an intellectually challenging card game for four players.
