#!/usr/bin/make -f
#export DH_VERBOSE=1

D=$(CURDIR)/debian/tenace

configure: configure-stamp
configure-stamp:
	./configure --prefix=/usr --bindir=/usr/games
	touch $@

build-indep:
build build-arch: build-stamp
build-stamp: configure-stamp
	$(MAKE)
	touch $@

install: build-stamp
	dh_testroot
	dh_clean -k
	$(MAKE) install DESTDIR=$D
	install -m644 -D contrib/mailcap $D/usr/lib/mime/packages/tenace

binary-indep:

binary-arch: install
	dh_installchangelogs -a
	dh_installdocs -a
	dh_installman -a doc/tenace.6
	dh_installmime -a
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_shlibdeps -a
	dh_installdeb -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch

clean:
	dh_testdir
	[ ! -f Makefile ] || $(MAKE) distclean
	dh_clean build-stamp configure-stamp

.PHONY: build build-indep build-arch clean binary binary-indep binary-arch install configure patch unpatch

